<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="#">DEMO APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUTUS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">JOBS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">CLIENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">EMPLOYER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">CONTACTUS</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" style="margin-top:20px;">
    <h3 style="color:dodgerblue">Profile</h3>
    <div class="row">
      <div class="col-sm-4">
        <div class="well">
            <!-- <img alt="Image" [src]="profileImage" style="width:100%;min-height:250px;"> -->
            <img alt="Image" src="../../assets/images/DSC_2572.jpg" style="width:100%;min-height:250px;">
        </div>
        <div class="well" style="margin-top:10px;">
            <button type="button" class="btn btn-warning">Edit Photo</button>
            <button type="button" class="btn btn-warning" style="margin-left:10px;">Edit Profile</button>
        </div>
       
      </div>
      <div class="col-sm-8">
        <div class="well">
           <p>
                Highly-motivated, deadline-committed, goal-driven accountant with over 7 years of experience. Proven track record of excellence. Some of my core skills include taxation, regulatory compliance, budgeting and forecasting. Supervised internal and external audit. Adept at analytics and in-depth reporting service. An engaging team-player who also acts as a motivator.
           </p>
           <button type="button" class="btn btn-primary">I Agree</button>
        </div>
      </div>
    </div>
    </div>
    
